@model Personal_Brochure_Website.Models.ProfileModelView.ProfileModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="pv-container" para-height="100vh">
    <div class="pv-block" pv-speed=-1.0 pv-image="/images/road-8.jpg"></div>
</div>

<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="@Model.BioImagePath" class="img-responsive img-bio-left" />
        <h1>@Model.FirstName @Model.LastName</h1>
        <h2>@Model.Title</h2>

        <p>@Model.BioDetails</p>
    </div>
</div>


<div class="pv-container" para-height="100vh">
    <div class="pv-block" pv-speed=-1.0 style="background-image:url('images/biopic.jpg');"></div>
</div>

<div class="container" style="min-height: 60vh; background-color: #ffffff;">
    <h2 class="text-center">More Stuff</h2>
</div>

<div class="pv-container" para-height="100vh">
    <div class="pv-block" pv-speed=-1.0 data-image="images/biopic.jpg"></div>
</div>

<div class="container" style="min-height: 60vh; background-color: #ffffff;">
    <h2 class="text-center">More Stuff Too</h2>
</div>


